In [34]:
# Import necessary modules
import logging
import pandas as pd
import numpy as np
from numpy import random
import nltk
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
import re

In [35]:
# Import data 

# Read the CSV file into a DataFrame: df
df = pd.read_csv('Amazon_Unlocked_Mobile.csv',encoding="latin-1")

In [36]:
df = df[pd.notnull(df['Reviews'])]
df.head(10)

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,Very pleased,0.0
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,It works good but it goes slow sometimes but i...,0.0
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,Great phone to replace my lost phone. The only...,0.0
5,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,1,I already had a phone with problems... I know ...,1.0
6,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,2,The charging port was loose. I got that solder...,0.0
7,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,2,"Phone looks good but wouldn't stay charged, ha...",0.0
8,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I originally was using the Samsung S2 Galaxy f...,0.0
9,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,3,It's battery life is great. It's very responsi...,0.0

In [37]:
STOPWORDS = set(stopwords.words('english'))
def clean_text(text):
    text = text.lower() # lowercase text
    text = re.sub(r'[/(){}\[\]\|@,;.]',' ', text) 
    text = re.sub(r'[^0-9a-z #+_]','', text) 
    text = ' '.join(word for word in text.split() if word not in STOPWORDS) 
    return text

In [38]:
df['Reviews'] = df['Reviews'].apply(clean_text)

In [39]:
df.head()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,feel lucky found used phone us used hard phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,nice phone nice grade pantach revue clean set ...,0.0
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,pleased,0.0
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,works good goes slow sometimes good phone love,0.0
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,great phone replace lost phone thing volume bu...,0.0

In [40]:
df.describe()

               Price         Rating   Review Votes
count  407848.000000  413778.000000  401482.000000
mean      226.867148       3.819609       1.506155
std       273.019444       1.548212       9.162444
min         1.730000       1.000000       0.000000
25%        79.990000       3.000000       0.000000
50%       144.710000       5.000000       0.000000
75%       269.990000       5.000000       1.000000
max      2598.000000       5.000000     645.000000

In [41]:
maxLen = len(max(df['Reviews'], key=len).split())
maxLen

2780

In [42]:
df.shape[0]

413778

In [43]:
train, test = train_test_split(df, test_size=0.3, random_state = 42)

In [44]:
train_X = train['Reviews'] 

test_X = test['Reviews']

In [45]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.preprocessing import text, sequence
from keras import utils

In [46]:
max_words = 1000
tokenize = text.Tokenizer(num_words=max_words, char_level=False)

In [47]:
tokenize.fit_on_texts(train_X) # only fit on train
x_train = tokenize.texts_to_matrix(train_X)
x_test = tokenize.texts_to_matrix(test_X)

In [51]:
import warnings
warnings.filterwarnings("ignore")
import keras
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(train['Rating'])
y_train = encoder.transform(train['Rating'])
y_test = encoder.transform(test['Rating'])

# convert integers to dummy variables (i.e. one hot encoded)
y_train  = keras.utils.to_categorical(y_train, num_classes = 5)
# convert integers to dummy variables (i.e. one hot encoded)
y_test  = keras.utils.to_categorical(y_test, num_classes = 5)

In [52]:
print('x_train shape:', x_train.shape)
print('x_test shape:', x_test.shape)
print('y_train shape:', y_train.shape)
print('y_test shape:', y_test.shape)

x_train shape: (289644, 1000)
x_test shape: (124134, 1000)
y_train shape: (289644, 5)
y_test shape: (124134, 5)

In [53]:
batch_size = 32
epochs = 30
# Build the model
model = Sequential()
model.add(Dense(512, input_shape=(max_words,)))
model.add(Activation('relu'))
model.add(Dropout(0.5))
model.add(Dense(5))
model.add(Activation('softmax'))

model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [54]:
model.fit(x_train, y_train,
                    batch_size=batch_size,
                    epochs=epochs,
                    verbose=1,
                    validation_split=0.1)

Train on 260679 samples, validate on 28965 samples
Epoch 1/30
260679/260679 [==============================] - 157s 601us/step - loss: 0.8046 - acc: 0.7058 - val_loss: 0.7232 - val_acc: 0.7376
Epoch 2/30
260679/260679 [==============================] - 148s 567us/step - loss: 0.6885 - acc: 0.7543 - val_loss: 0.6588 - val_acc: 0.7685
Epoch 3/30
260679/260679 [==============================] - 148s 566us/step - loss: 0.6156 - acc: 0.7840 - val_loss: 0.6259 - val_acc: 0.7864
Epoch 4/30
260679/260679 [==============================] - 157s 601us/step - loss: 0.5632 - acc: 0.8043 - val_loss: 0.5983 - val_acc: 0.8010
Epoch 5/30
260679/260679 [==============================] - 162s 622us/step - loss: 0.5243 - acc: 0.8184 - val_loss: 0.5894 - val_acc: 0.8084
Epoch 6/30
260679/260679 [==============================] - 149s 572us/step - loss: 0.4972 - acc: 0.8285 - val_loss: 0.5868 - val_acc: 0.8133
Epoch 7/30
260679/260679 [==============================] - 145s 556us/step - loss: 0.4752 - acc: 0.8369 - val_loss: 0.5872 - val_acc: 0.8182
Epoch 8/30
260679/260679 [==============================] - 149s 570us/step - loss: 0.4548 - acc: 0.8440 - val_loss: 0.5969 - val_acc: 0.8209
Epoch 9/30
260679/260679 [==============================] - 147s 562us/step - loss: 0.4403 - acc: 0.8490 - val_loss: 0.5944 - val_acc: 0.8223
Epoch 10/30
260679/260679 [==============================] - 149s 570us/step - loss: 0.4271 - acc: 0.8536 - val_loss: 0.5971 - val_acc: 0.8249
Epoch 11/30
260679/260679 [==============================] - 160s 613us/step - loss: 0.4160 - acc: 0.8586 - val_loss: 0.6047 - val_acc: 0.8286
Epoch 12/30
260679/260679 [==============================] - 149s 573us/step - loss: 0.4060 - acc: 0.8619 - val_loss: 0.6097 - val_acc: 0.8281
Epoch 13/30
260679/260679 [==============================] - 150s 575us/step - loss: 0.3958 - acc: 0.8651 - val_loss: 0.6166 - val_acc: 0.8290
Epoch 14/30
260679/260679 [==============================] - 151s 580us/step - loss: 0.3891 - acc: 0.8678 - val_loss: 0.6203 - val_acc: 0.8291
Epoch 15/30
260679/260679 [==============================] - 157s 603us/step - loss: 0.3831 - acc: 0.8701 - val_loss: 0.6285 - val_acc: 0.8324
Epoch 16/30
260679/260679 [==============================] - 152s 581us/step - loss: 0.3746 - acc: 0.8732 - val_loss: 0.6357 - val_acc: 0.8339
Epoch 17/30
260679/260679 [==============================] - 152s 582us/step - loss: 0.3694 - acc: 0.8751 - val_loss: 0.6438 - val_acc: 0.8337
Epoch 18/30
260679/260679 [==============================] - 157s 601us/step - loss: 0.3637 - acc: 0.8765 - val_loss: 0.6524 - val_acc: 0.8362
Epoch 19/30
260679/260679 [==============================] - 158s 608us/step - loss: 0.3599 - acc: 0.8790 - val_loss: 0.6595 - val_acc: 0.8356
Epoch 20/30
260679/260679 [==============================] - 147s 564us/step - loss: 0.3525 - acc: 0.8813 - val_loss: 0.6652 - val_acc: 0.8355
Epoch 21/30
260679/260679 [==============================] - 150s 577us/step - loss: 0.3512 - acc: 0.8815 - val_loss: 0.6732 - val_acc: 0.8354
Epoch 22/30
260679/260679 [==============================] - 153s 588us/step - loss: 0.3473 - acc: 0.8827 - val_loss: 0.6794 - val_acc: 0.8361
Epoch 23/30
260679/260679 [==============================] - 149s 570us/step - loss: 0.3422 - acc: 0.8847 - val_loss: 0.6868 - val_acc: 0.8355
Epoch 24/30
260679/260679 [==============================] - 149s 572us/step - loss: 0.3416 - acc: 0.8848 - val_loss: 0.6960 - val_acc: 0.8356
Epoch 25/30
260679/260679 [==============================] - 132s 506us/step - loss: 0.3353 - acc: 0.8873 - val_loss: 0.7081 - val_acc: 0.8359
Epoch 26/30
260679/260679 [==============================] - 126s 482us/step - loss: 0.3329 - acc: 0.8887 - val_loss: 0.7131 - val_acc: 0.8367
Epoch 27/30
260679/260679 [==============================] - 126s 482us/step - loss: 0.3323 - acc: 0.8886 - val_loss: 0.7205 - val_acc: 0.8369
Epoch 28/30
260679/260679 [==============================] - 132s 508us/step - loss: 0.3298 - acc: 0.8902 - val_loss: 0.7172 - val_acc: 0.8383
Epoch 29/30
260679/260679 [==============================] - 127s 489us/step - loss: 0.3255 - acc: 0.8907 - val_loss: 0.7252 - val_acc: 0.8379
Epoch 30/30
260679/260679 [==============================] - 125s 481us/step - loss: 0.3228 - acc: 0.8918 - val_loss: 0.7246 - val_acc: 0.8376

In [56]:
score = model.evaluate(x_test, y_test,
                       batch_size=batch_size, verbose=1)
print('Test accuracy:', score[1])

124134/124134 [==============================] - 7s 58us/step
Test accuracy: 0.8396652005100875